body {
    font: 400 16px/1.5 "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #fdfdfd;
    padding: 0px;
}

img { vertical-align: middle }
a { text-decoration: none; }
:hover { text-decoration: none; }

.hcolor {
    max-height: 10px;
    background: #f05241;
}
.hcolor:hover {
    text-decoration: underline;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
}

body::-webkit-scrollbar{
    width: 0px;
}

.author {
    color: #111;
    padding-top: 50px;
    font: Helvetica;
    font-size: 30px;
    padding-right: 45%;
}

footer {
    position: absolute;
    bottom: 10px;
}

#padding {
    padding-left: 25%;
    max-width: 50%;
}